<div class = "container">
<div class="row  light-blue lighten-5" >
<div class="details">
  <h5><b>Add Details</b></h5>
</div>
  <form>
      <div class="input-field">
        <input id="authorname" type="text" class="validate">
        <label for="authorname">Author Name</label>
      </div>

      <div class="input-field">
        <input id="title" type="text" class="validate">
        <label for="title">Title</label>
      </div>

      <div class="input-field">
        <input id="post" type="text" class="validate">
        <label for="post">Post</label>
      </div>

    <div class = "input-field">
      <a class="waves-effect waves-light btn" (click)= "onClick()">Add</a>
    </div>

  </form>
</div>

</div>
